---
layout: default
---
      <div class="home">
        <div class="content-col-wrapper">
          <div class="content-col">
            <div class="dummy">
              <p><b><span class="big">Hello,</span> soldier</b>.<br><br>
              Welcome to red team field.<br><br>
              We try to get the best resources for you campaigns.<br><br>
              Greetings,<br><br>
              Red Team Field<br><br>
              </p>
              
              
              ♨ <b><span class="big">What is your category?</span></b><br>

              <div class="photos">
                <a href="https://www.instagram.com/p/BCI1dwchQX5/" class="p0 photo" target="_blank">
                  <img alt="Vectisaurus Fruitadens Rajasaurus Empaterias." src="{{ site.baseurl }}/images/ig_1.jpg">
                </a>
                <a href="https://www.instagram.com/p/BCI1dwchQX5/" class="p1 photo" target="_blank">
                  <img alt="Zombie ipsum reversus ab viral inferno." src="{{ site.baseurl }}/images/ig_2.jpg">
                </a>
                <a href="https://www.instagram.com/p/BCI1dwchQX5/" class="p2 photo" target="_blank">
                  <img alt="Marshmallow cookie jelly beans cake brownie." src="{{ site.baseurl }}/images/ig_3.jpg">
                </a>
                <a href="https://www.instagram.com/p/BCI1dwchQX5/" class="p3 photo" target="_blank">
                  <img alt="Lorem ipsum dolor sit amet." src="{{ site.baseurl }}/images/ig_4.jpg">
                </a>
                <a href="https://www.instagram.com/p/BCI1dwchQX5/" class="p4 photo" target="_blank">
                  <img alt="Lewisuchus Poekilopleuron Opisthocoelicaudia Xixiasaurus." src="{{ site.baseurl }}/images/ig_5.jpg">
                </a>
                <div class="caption c0">Exploiting</div>
                <div class="caption c1">Forensic</div>
                <div class="caption c2">Marshmallow cookie jelly beans cake brownie.</div>
                <div class="caption c3">Lorem ipsum dolor sit amet.</div>
                <div class="caption c4">Lewisuchus Poekilopleuron Opisthocoelicaudia Xixiasaurus.</div>
              </div><br>

              <div class="dummy blogpost">
              <b><span class="big">Writings.</span></b>
              </div>
            </div><p></p><p></p>
              <ul class="post-list">{% for post in paginator.posts %}
                <li class="titlepost">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }} - {{ post.date | date: "%D" }} </a>
                </li>
                {% endfor %}
              </ul>
          </div>
        </div>{% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}">
            <b><span class="big">Previous</span></b>
          </a>{% else %}{% endif %}{% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}">
            <b><span class="big">Next</span></b>
          </a>{% else %}{% endif %}
        <nav class="site-nav">
        <a href="#" class="menu-icon">
          <svg viewBox="0 0 18 15">
            <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
            <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
            <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z" />
          </svg>
        </a>
        
        </nav>
      </div>
