---
layout: default
published: true
---

      <div class="home">
        <div class="content-col-wrapper">
          <div class="content-col">
            <div class="dummy">
              <b><span class="big">Hello,</span> soldier</b>.
              <p>We offer you the best resources for your campaigns, you should look our <a href="{{ site.baseurl}}/d" title="Library" target="_blank"> library</a></p>
              <br>
              <b><span class="big">Resources</span></b>
            
              <ul class="post-list">{% for post in paginator.posts %}
                <li class="titlepost">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">[{{ post.category }}] {{ post.title }} - {{ post.date | date: "%D" }} </a>
                </li>
                {% endfor %}
              </ul>
          </div>
        </div>{% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}">
            <b><span class="big">Previous</span></b>
          </a>{% else %}{% endif %}{% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}">
            <b><span class="big">Next</span></b>
          </a>{% else %}{% endif %}
      </div>
</div>
