
  <footer class="site-footer">
    <div class="wrapper-fit">
      <div class="footer-text">
          <a href="{{ site.baseurl }}/about">#about</a> - 
          <a href="{{ site.baseurl }}/contact">#contact</a> -
          <a href="{{ site.baseurl }}/docs">#docs</a>
      </div>
    </div>
    <!--
    __________           .___          
    \______   \ ____   __| _/          
     |       _// __ \ / __ |           
     |    |   \  ___// /_/ |           
     |____|_  /\___  >____ |           
            \/     \/     \/           
    ___________                        
    \__    ___/___ _____    _____      
      |    |_/ __ \\__  \  /     \     
      |    |\  ___/ / __ \|  Y Y  \    
      |____| \___  >____  /__|_|  /    
                 \/     \/      \/     
    ___________.__       .__       .___
    \_   _____/|__| ____ |  |    __| _/
     |    __)  |  |/ __ \|  |   / __ | 
     |     \   |  \  ___/|  |__/ /_/ | 
     \___  /   |__|\___  >____/\____ | 
         \/            \/           \/ 
    -->
  </footer>
